<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Gestion des Utilisateurs</title>
    <link rel="stylesheet" href="/static/style.css"> <!-- Assurez-vous d'avoir un CSS approprié -->
</head>
<body>
    <header>
        <h1>Gestion des Utilisateurs Pokémon</h1>
    </header>

    <div class="container">
        <h2>Ajouter un Utilisateur</h2>
        <form action="/users/create" method="post">
            <input type="text" name="username" required>
            <input type="password" name="password" required>
            <button type="submit">Submit</button>
        </form>
        

        <h2>Liste des Utilisateurs</h2>
        <ul id="users-list">
            {% for user in users %}
                <li>{{ user.username }}</li>
            {% endfor %}
        </ul>
    </div>

    <script src="/static/scripts.js"></script> <!-- Pour les interactions dynamiques -->
</body>
</html>
