<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue des données Pokémon</title>
</head>
<body>
    <h1>Vue des données Pokémon dans la DB</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Type ID</th>
            </tr>
        </thead>
        <tbody>
            {% for pokemon in pokemon_data %}
                <tr>
                    <td>{{ pokemon.numero }}</td>
                    <td>{{ pokemon.type_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/">Retour à l'accueil</a>
</body>
</html>
